/*!
 * @component Breadcrumb
 * @description Breadcrumb component.
 * @selector .wf-breadcrumb
 * @variants .wf-breadcrumb-item
 * @variables --wf-space-2, --wf-color-muted, --wf-link-color, --wf-link-color-hover, --wf-space-1
 */
@layer components {
  /* Breadcrumb */
  .wf-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    gap: var(--wf-space-2);
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .wf-breadcrumb-item {
    color: var(--wf-color-muted);
  }
  .wf-breadcrumb-item a {
    color: var(--wf-link-color);
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }
  .wf-breadcrumb-item a:hover {
    color: var(--wf-link-color-hover);
    border-bottom-color: currentColor;
  }
  .wf-breadcrumb-item + .wf-breadcrumb-item::before {
    content: "/";
    margin: 0 var(--wf-space-1);
    color: var(--wf-color-muted);
  }
}
